.hide {
  display: none;
}
.myDIV {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}